.navbar-brand{
  font-size: 2rem;
  margin-right: 20px;
}

.navitem{
  font-size: 1.3rem;
  margin-right: 10px;
}

.dropdown-toggle{
  font-size: 1.3rem;
  margin-right: 10px;
}

.dropdown-item{
  font-size: 1rem;
}
